div{
    position: relative;
    /* margin-top: -39px; */
    background: rgba(65, 65, 65, 0.55);
    min-height: 35px;
    opacity: 0.2;
}
div:hover{
    opacity: 1;
}
.logo-channel{
    float: right;
    height: 35px;
    /* padding: 1rem; */
    /* padding-top: 5px; */
    margin-left: 1rem;
    margin-right: 1rem;
}
.pointer-zone{
    text-align: center;
    padding-top: 10px;
    right: 0px;
    width: 15%;
    height: calc(14% - 10px);
    position: absolute;
    top: calc(75vh);
    border-radius: 15px;
}
.pointer-zone:hover{
    cursor: none;
}