<div [ngStyle]="{ opacity: _videoService.opacity }" (mouseenter)="_videoService.opacity=1" (mouseleave) ="_videoService.opacity=0">
  <!-- <button (click)="_videoService.volumeUp()">Volumen +</button> -->
  <button class="btn btn-outline-dark btn-sm" style="float: right;" (click)="_videoService.fullScreen()" ><span class="fa fa-arrows-alt"></span></button>
  <button class="btn btn-outline-dark btn-sm" style="float: right;" 
    
    (click)="_videoService.muteVolume()" >
      <span class="fa"
            [ngClass]="{'fa-volume-up': _videoService.videoElement.muted, 'fa-volume-off': !_videoService.videoElement.muted }" >
          </span> 
          <!-- {{_videoService.videoElement.muted ? 'Sound':'Mute'}} -->
        </button>
        <!-- <div class="form-group">
  <input class="form-control-range" style="float: right;" #ramSelector type="range" min="0" max="10" value="10"  [(ngModel)]="volume"  (change)="_videoService.changeVolume(ramSelector.value)">
        </div> -->
        <input  style="float: right;" #ramSelector type="range" min="0" max="10" value="10"  [(ngModel)]="volume"  (change)="_videoService.changeVolume(ramSelector.value)">

  


   <img class="logo-channel" *ngIf="_videoService.chanToSew" [src]="_videoService.getImage()">
   <!-- <button style="float: right;"  (click)="openVideoinWindow()">Ventana</button> -->
</div>
<div  (mouseenter)="_videoService.opacity=0" (mouseleave) ="_videoService.opacity=1" [ngStyle]="{ opacity: _videoService.opacity }" class="pointer-zone">
  Pointer Zone
</div>
